/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

html,
main {
    background-color: whitesmoke;
}

:root {
    --Snigle-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --Poppins: "Poppins", cursive;
    --light-black: #2e2c2caf;
    --bggardient: linear-gradient(to bottom,
            #28febd,
            #1db688);
    --light-gray: rgba(255, 255, 255, 0.877);
}

/*nav part on search and logo */
.navbar {
    color: whitesmoke;
    font-weight: bold;
    font-family: var(--Poppins);
    background-color: #121212;
}

.navbar img {
    height: 40px;
    width: 40px;
}

.navbar a {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}

.col-lg-4,
#profile {
    text-align: center;
}

.ml-4 {
    text-align: center;
}

.ml-4:hover {
    color: #19e6bd;
    text-decoration: underline;
}

#profile:hover {
    color: #19e6bd;
    text-decoration: underline;
}

.navbar .input-group {
    justify-content: center;
}

.navbar .col-lg-4 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar {
    align-content: center;
}

header button {
    background: var(--bggardient);
}

/*nav part on home button*/

.nav-bar {
    background-color: #121212;
}

.nav-bar a {
    color: whitesmoke;
    font-family: var(--Poppins);
}

.nav-bar a:hover {
    color: #19e6bd;
    text-decoration: underline;
}

.nav-bar .active {
    color: #19e6bd;
    text-decoration: underline;
}

/*in main*/
/*for cards*/
.cards {
    padding-top: 30px;
}

/*for cards img*/
.cards img {
    width: 100%;
    height: 60%;
    align-items: center;
}

/*for cards button*/
.btnclk {
    color: whitesmoke;
    background-color: #1db688;
    border: #1db688;
    border-radius: 5px;
    outline: none;
    padding: 8px 8px 8px 8px;
    transition: all .2s ease-in;
}

.btnclk:hover {
    color: whitesmoke;
    background-color: #0f5b44;
    border: #0f5b44;
    border-radius: 5px;
    outline: none;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
}

/*for card*/
.card {
    width: 15rem;
    height: 30rem;
    margin-top: 10px;
    display: flex;
    position: fixed;
    transition: all .2s ease-in;
    top: 0;
}

.card:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    top: -2px;
    bottom: -2px;
    display: flex;
}

main p {
    width: 100%;
    height: 30%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*for footer*/
footer {
    background-color: rgba(0, 0, 0, 0.885);
    overflow-x: hidden;
    padding: 2vmin 2vmin;
    bottom: 0;
}

#foots h1 {
    color: whitesmoke;
    position: relative;
}

#foots p {
    color: whitesmoke;
    position: relative;
}

footer .input-group .input-group-text {
    background: var(--bggardient);
    border: none;
}

footer .column i+i {
    padding: 0.05em;
}